@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  color: #3d1101;
  font-family: "MicrosoftJhengHeiRegular", -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif, serif;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

body {
  max-width: 1024px;
  margin: 0 auto;
  background: #c2b8b8;
}

.header {
  position: relative;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: calc(100% - 40px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
}

.logo .fa-bars {
  cursor: pointer;
  font-size: 32px;
  color: yellow;
  display: none;
}

@media (max-width: 768px) {
  .logo .fa-bars {
    display: block;
  }
}

.logo .logo-img a {
  width: 120px;
  height: 24px;
  display: block;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
  background: url("../../images/logo_w(null).svg") no-repeat;
}

.logo .logo-img a:hover {
  -webkit-animation: animation-1 2s infinite;
          animation: animation-1 2s infinite;
}

@-webkit-keyframes animation-1 {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  25% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animation-1 {
  0% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  25% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.logo .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo .nav a {
  display: block;
  padding-right: 10px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .logo .nav li {
    display: none;
  }
}

@media (max-width: 768px) {
  .logo .nav::after {
    content: ' ';
    padding-right: 20px;
  }
}

.logo .fa-user-circle {
  color: #ffffff;
  display: none;
}

@media (max-width: 767px) {
  .logo .fa-user-circle {
    display: block;
    font-size: 32px;
  }
}

.nav-h a {
  border-bottom: 3px solid transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0.2em 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-h a:hover {
  border-bottom: 3px solid #ffffff;
  color: #f38787;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  font-weight: bold;
}

.aside {
  width: 240px;
  height: 100vh;
  position: fixed;
  background-color: #000000;
  -webkit-transform: translateX(-240px);
          transform: translateX(-240px);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 0;
}

.aside.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 2;
  opacity: 1;
}

.aside .aside-nav {
  margin-top: 60px;
}

.aside a {
  color: #ffffff;
  display: block;
  text-align: center;
  margin-top: 30px;
}

.aside .fa-times {
  color: yellow;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  cursor: pointer;
  font-size: 32px;
}

.banner {
  background: url(../../images/header_desktop.png) center center;
  background-size: cover;
  padding: 125px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

@media (max-width: 414px) {
  .banner {
    background: url(../../images/header_mobile.png) center center;
    padding: 100px 0;
  }
  .banner .banner-content {
    padding: 0 20px;
  }
}

.banner .banner-text {
  color: #ffffff;
  background: rgba(43, 42, 42, 0.6);
  text-align: center;
  padding: 20px;
}

.banner .banner-text h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.banner .banner-text p {
  font-size: 16px;
}

@media (max-width: 414px) {
  .banner .banner-text h2 {
    font-size: 32px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  background: wheat;
}

.footer img:hover {
  -webkit-animation: animation-2 2s infinite;
          animation: animation-2 2s infinite;
}

@media (max-width: 767px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer p {
  font-size: 16px;
}

.footer h3 {
  font-size: 32px;
}

.footer .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

@media (max-width: 414px) {
  .footer .about {
    display: block;
  }
  .footer .about p {
    display: none;
  }
}

.footer .about .present {
  width: 50%;
  text-align: left;
}

@media (max-width: 414px) {
  .footer .about .present {
    width: 100%;
  }
}

.footer .contact ul {
  list-style-type: initial;
  list-style-position: inside;
}

.footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 32px;
  cursor: pointer;
}

@media (max-width: 414px) {
  .footer .footer-logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    width: 100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.footer .fab {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .fab:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #f38290;
}

.footer .fa-google-plus {
  color: #e24203;
}

.footer .fa-twitter-square {
  color: #3eaebd;
}

.footer .fa-facebook-square {
  color: #4d4dc4;
}

@-webkit-keyframes animation-2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    ttransform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animation-2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  25% {
    ttransform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.present {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  text-align: center;
  margin-bottom: 60px;
}

.present .present-title {
  margin-bottom: 30px;
}

.present .present-title h3 {
  line-height: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.present .present-title h3::before {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  background: #a09999;
  position: relative;
  top: 40px;
  left: -150px;
}

@media (max-width: 414px) {
  .present .present-title h3::before {
    display: none;
  }
}

.present .present-title h3::after {
  content: " ";
  display: block;
  width: 100px;
  height: 2px;
  background: #a09999;
  position: relative;
  top: -40px;
  right: -150px;
}

@media (max-width: 414px) {
  .present .present-title h3::after {
    display: none;
  }
}

.present .present-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.present .present-item li {
  width: 30.333%;
}

@media (max-width: 768px) {
  .present .present-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .present .present-item li {
    width: 90%;
    margin-bottom: 20px;
    padding: 0 5%;
  }
}

.present .present-item img {
  border-radius: 50%;
  padding-bottom: 10px;
}

.present .present-item .present-img {
  margin-bottom: 20px;
}

.present .present-content {
  text-align: justify;
}

.master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #3d1101;
  margin-bottom: 60px;
}

.master .master-img {
  padding-left: 30px;
}

@media (max-width: 414px) {
  .master .master-img {
    padding: 0;
  }
}

.master .master-img img {
  display: block;
}

.master .master-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding: 0 0 20px 20px;
  color: #ffffff;
  text-align: justify;
}

.master .master-content h3 {
  margin-bottom: 20px;
}

.master .master-content p {
  font-size: 16px;
  padding-right: 5em;
}

@media (max-width: 414px) {
  .master .master-content {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .master {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .master .master-img {
    margin-bottom: 20px;
  }
  .master .master-content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
  }
  .master .master-content p {
    padding: 0;
  }
}

.experience {
  padding: 20px;
  margin-bottom: 60px;
}

.experience h3 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.experience .experience-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 767px) {
  .experience .experience-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 90%;
    padding: 0 5%;
  }
}

.experience .experience-item .experience-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience .experience-item .experience-img p {
  padding-left: 10px;
}

.experience .experience-item img {
  border-radius: 50%;
}

.experience .experience-item .experience-content {
  padding-left: 70px;
}

.experience .experience-item .experience-content span {
  display: block;
  text-align: right;
  color: rgba(61, 17, 0, 0.75);
}

.location {
  background: #fafafa;
}

.location .location-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .location .location-map {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.location h3 {
  text-align: center;
  padding: 30px;
}

.location iframe {
  width: 47%;
  padding: 20px;
}

@media (max-width: 767px) {
  .location iframe {
    width: 90%;
    padding: 0 5%;
  }
}

@media (max-width: 375px) {
  .location iframe {
    height: auto;
  }
}

.location form {
  padding: 30px;
  width: 50%;
}

@media (max-width: 767px) {
  .location form {
    width: 80%;
  }
}

.location form input,
.location form label {
  cursor: pointer;
}

.location form input[type="text"] {
  width: 80%;
  padding: 10px 0;
  padding-left: 10px;
  outline: none;
  margin-bottom: 1em;
  border-radius: 10px;
  border: 1px solid #efe9e7;
}

@media (max-width: 414px) {
  .location form input[type="text"] {
    width: 100%;
  }
}

.location form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 60px;
}

@media (max-width: 414px) {
  .location form .btn {
    margin-right: 0;
    margin-top: 20px;
  }
}

.location form .btn input[type="button"] {
  margin-right: 20px;
  outline: none;
  border-radius: 0.5em;
  padding: 10px 20px;
}

.location form .btn input[value="取消"] {
  background: #4a4a4a;
}

.location form .btn input[value="取消"]:hover {
  background: black;
}

.location form .btn input[value="送出"] {
  background: #ff5e45;
}

.location form .btn input[value="送出"]:hover {
  background: red;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px;
}

@media (max-width: 767px) {
  .cart {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cart .cart-nav {
  margin-right: 30px;
}

@media (max-width: 767px) {
  .cart .cart-nav {
    width: 100%;
    margin-bottom: 30px;
  }
}

.cart .cart-nav h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.cart .cart-nav .fa-leaf {
  padding-right: 10px;
}

.cart .cart-nav a {
  color: #3d1101;
  line-height: 1.5;
  padding: 10px;
  display: block;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  border-bottom: 3px solid #3d1101;
}

.cart .cart-nav a:hover {
  color: #ffffff;
  background: #3d1101;
  border-bottom: 3px solid #ff5e45;
}

.cart .cart-nav li:nth-child(4) a {
  color: #ffffff;
  background: #3d1101;
  border-bottom: 3px solid #ff5e45;
}

.cart .cart-content {
  width: 70%;
}

@media (max-width: 767px) {
  .cart .cart-content {
    width: 100%;
  }
}

.cart .cart-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .cart .cart-title {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .cart .cart-title {
    width: 100%;
  }
}

.cart .cart-search {
  width: 70%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .cart .cart-search {
    width: 100%;
    margin-bottom: 20px;
  }
}

.cart .cart-search input {
  width: 100%;
  padding: 0.4em;
  outline: solid #3d1101;
  background: #c2b8b8;
}

.cart .cart-search .fa-search {
  position: absolute;
  right: 0;
  padding: 0.3em;
  background: #3d1101;
  color: #ffffff;
  cursor: pointer;
}

.cart .cart-checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cart .cart-checkout:hover .fa-shopping-cart {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.cart .cart-checkout p {
  padding-right: 30px;
}

.cart .cart-checkout p:after {
  content: "";
  border-right: 3px solid #3d1101;
  padding-right: 30px;
}

.cart .cart-checkout .fa-shopping-cart {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  position: relative;
}

.cart .cart-checkout .fa-shopping-cart span {
  position: absolute;
  top: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff5e45;
  text-align: center;
  font-size: 14px;
}

.cart .cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cart .cart-item li {
  width: 47%;
  margin: 0 1%;
  margin-bottom: 30px;
  border-right: 1px solid #efe9e7;
  border-bottom: 1px solid #efe9e7;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
  position: relative;
  overflow: hidden;
}

@media (max-width: 767px) {
  .cart .cart-item li {
    width: 96%;
  }
}

.cart .cart-item li:nth-child(1) .cart-img {
  background: url(../../images/product_1.png) center center;
  background-size: cover;
  height: 120px;
}

.cart .cart-item li:nth-child(2) .cart-img {
  background: url(../../images/product_2.png) center center;
  background-size: cover;
  height: 120px;
}

.cart .cart-item li:nth-child(3) .cart-img {
  background: url(../../images/product_3.png) center center;
  background-size: cover;
  height: 120px;
}

.cart .cart-item li:nth-child(4) .cart-img {
  background: url(../../images/product_4.png) center center;
  background-size: cover;
  height: 120px;
}

.cart .cart-item li:nth-child(4) .cart-img .fa-heart {
  font-weight: bold;
}

.cart .cart-item .cart-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart .cart-item .cart-img .ribbon {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 30px;
  left: 30px;
  width: 150px;
  background: #00CC99;
  z-index: 1;
  text-align: center;
  color: #fafafa;
}

.cart .cart-item .cart-img .fa-heart {
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: font-weight .5s;
  transition: font-weight .5s;
}

.cart .cart-item .cart-img .fa-heart:hover {
  font-weight: bold;
}

.cart .cart-item .cart-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
  text-align: center;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart .cart-item .cart-cost h3 {
  margin-bottom: 30px;
}

.cart .cart-item .cart-cost:after {
  content: "";
  border-bottom: 2px solid #3d1101;
  width: 150px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.cart .cart-item .cart-cost span {
  margin-bottom: 20px;
  font-family: Roboto-Light;
  font-size: 32px;
  font-weight: bold;
}

.cart .cart-item .cart-cost .fa-shopping-cart {
  border: 2px solid #ff5e45;
  padding: 10px;
  color: #ff5e45;
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  border-radius: 8px;
}

.cart .cart-item .cart-cost .fa-shopping-cart:hover {
  background: #ff5e45;
  color: wheat;
}

.registes-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  margin-bottom: 30px;
}

.registes-title h2 {
  font-size: 48px;
}

.registes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.registes-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 3px solid #ff5e45;
  border-right: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
  width: 70%;
  padding-bottom: 20px;
  -webkit-box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.75);
}

@media (max-width: 414px) {
  .registes-content {
    width: 90%;
  }
}

.registes-content > h3 {
  width: 100%;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

.registes-content p {
  text-align: justify;
  word-spacing: -8px;
}

@media (max-width: 768px) {
  .registes-content p {
    margin-bottom: 20px;
  }
}

.legend,
.registes-area {
  width: 40%;
  margin: 0 2%;
}

@media (max-width: 768px) {
  .legend,
  .registes-area {
    width: 80%;
  }
}

@media (max-width: 414px) {
  .legend,
  .registes-area {
    width: 90%;
  }
}

.registes-area input[type="text"] {
  width: 100%;
  padding: 10px 0 10px 30px;
  border-radius: 0.5em;
  margin-bottom: 20px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  border: 1px solid wheat;
  outline: none;
}

.registes-area > a {
  color: #ff5e45;
}

.registes-area > a:hover {
  text-decoration: underline;
}

.btn.new {
  direction: rtl;
}

.btn.new input[value='註冊'] {
  background: #ff5e45;
}

.btn.new input[value='註冊']:hover {
  background: red;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login h2 {
  font-size: 48px;
}

.login p,
.login h2 {
  font-weight: bold;
}

.login form {
  margin: 60px 0;
  border-top: 3px solid #ff5e45;
  border-right: 3px solid #fafafa;
  border-bottom: 3px solid #fafafa;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
  padding: 20px;
}

.login form h3 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.login form a {
  font-size: 16px;
  color: #ff5e45;
}

.login form a:hover {
  text-decoration: underline;
}

.login #address,
.login #password {
  width: 230px;
  padding: 0.5em 0;
  border-radius: 0.3em;
  outline: none;
  border: 1px solid wheat;
  padding-left: 40px;
}

.email,
.password {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fa-envelope,
.fa-lock {
  position: absolute;
  padding-left: 10px;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

.btn input {
  padding: 0.5em 30px;
  color: #efe9e7;
  border-radius: 0.5em;
  cursor: pointer;
  outline: none;
}

.btn input[value='註冊'] {
  background: #4a4a4a;
}

.btn input[value='註冊']:hover {
  background: black;
}

.btn input[value='登入'] {
  background-color: #ff5e45;
}

.btn input[value='登入']:hover {
  background: red;
}
/*# sourceMappingURL=all.css.map */